nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    top: 0;
    background-color: var(--primary-color);
    padding: 1rem;
    width: 100%;
    position: fixed;
    z-index: 99;
}

.applogo{
    display: flex;
    align-items: center;
    margin-left: 3rem;
   gap: 0.8rem;
}
.appname{
    padding-top: 10px;
}

.nav-menu{
    margin-right: 5rem;
    
}

.nav-item {
    align-items: center;
    list-style: none;
    display: inline; 
    padding: 30px;
    
}

.nav-link{
    font-weight: 400;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    display: inline-block; 
    font-size: 15px;
}



.nav-toggler div{
    width: 2rem;
    height: 0.2rem;
    margin: 0.26rem;
    border-radius: 10px;
    background: #fff;
    transition: 0.4s ease-in;
}

.nav-toggler {
    cursor: pointer;
    display: none;
    margin-right: 2rem;
}

@media screen and (max-width: 768px){
    .nav {
        position: fixed; 
        z-index: 9; 
    }

    .nav-menu{
        display: flex;
       flex-direction: column;
       background-color:black ;
       width: 100%;
       height: 600px;
       position: absolute;
       padding: 20px 0px 0px 20px;
       top: 0;
       left: 0;
       margin: 0;
       justify-content: flex-start;
       transform: translateX(-120%);
       transition: all 0.5s ease-in;
       z-index: -1;
       gap: 1.5rem;
    }
    .nav-item{
        padding: 1px;
    }

    .nav-active{
       z-index: 9;
       transform: translateX(0);
        border-radius: 0; 
        background-color: #fff;
        
    }
  
    .nav-link{
        font-size: 1.2rem;
        display: block;
        color: black;
        padding: 10px 4px;
    }

    .nav-link:hover{
        width: 300px;
        
    }
    
    .nav-toggler{
        display: block;
        z-index: 9;
        
    }
}
@media screen and (max-width: 1200px) {
    .nav-menu{
        margin-right: 2rem;
    }
    .nav-item{
        padding: 8px;
    }
}
.nav-active{
    transform: translateX(0);
}

.toggle .line1{
    transform: rotate(-45deg) translate(-4px,6px);
    background-color: black; 
}

.toggle .line2{
    opacity: 0;
    background-color: black; 
}

.toggle .line3{
    transform: rotate(45deg) translate(-4px,-6px);
    background-color: black; 
}
